<section class="w-full h-full">
  <!-- header -->
  <div class="flex flex-col md:flex-row justify-between items-start md:items-center gap-4">
    <div class="flex flex-col">
      <h1 class="text-xl font-semibold text-primary">Know Your Business</h1>
      <p class="text-xs text-[#050914]">Complete KYB to avail online payment services</p>
    </div>
    <div class="flex flex-col items-start md:items-center">
      <h1 class="font-normal text-sm text-[#050914]">Company ID</h1>
      <p class="font-normal text-sm text-primary">TRPE0001</p>
    </div>
  </div>
  <hr class="border-[#D2D2D2] my-4" />

  <!-- business details -->
  <div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div>
        <label class="text-sm text-[#050914]">
          Business Type <span class="text-primary"> *</span>
        </label>

        <select [(ngModel)]="businessType" (ngModelChange)="onBusinessTypeChange()"
          [ngClass]="{ 'text-[#BCBCBC]': !isSelected }"
          class="mt-2 w-full border border-[#D2D2D2] rounded-sm px-3 py-3 text-sm placeholder:text-[#BCBCBC] focus:ring-2 focus:ring-teal-500 focus:outline-none">
          <option value="" class="text-[#BCBCBC]" disabled>Choose a Business Type</option>

          <option value="proprietor" selected>Proprietor</option>

          <option value="private-public">Private / Public Limited</option>

          <option value="partnership">Partnership</option>
          <option value="trust-society">Trust/Society Name</option>
        </select>
      </div>
      <div>
        <label class="text-sm f text-[#050914]"> GSTIN </label>

        <input type="text" placeholder="Goods and Services Tax Identification Number"
          class="mt-2 w-full border border-[#D2D2D2] rounded-sm px-3 py-3 placeholder:text-[#BCBCBC] text-sm focus:ring-2 focus:ring-teal-500 focus:outline-none" />
      </div>
    </div>
  </div>
  <div class="mt-4">
    <h1 class="text-xl font-semibold text-primary">Business Details</h1>
    <hr class="border-[#D2D2D2] my-4" />
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div>
        <label class="text-sm font-medium text-gray-700">
          <span *ngIf="isProprietor() || isPrivatePublicLimited() || isPartnership()">Business Name</span>
          <span *ngIf="isTrustSociety()">Trust/Society Name</span>
          <span class="text-primary">*</span>
        </label>

        <input type="text" [placeholder]="isTrustSociety() ? 'Enter Company Name' : 'Enter Company Name'" required
          class="mt-2 w-full border border-[#D2D2D2] rounded-sm px-3 py-3 placeholder:text-[#BCBCBC] text-sm focus:ring-2 focus:ring-teal-500 focus:outline-none" />
      </div>
      <div>
        <label class="text-sm font-medium text-gray-700">
          Registered Address <span class="text-primary">*</span>
        </label>

        <input type="text" [placeholder]="
            isTrustSociety() ? 'Enter Trust/Society\'s Address' : 'Enter Company\'s Address'
          " required
          class="mt-2 w-full border border-[#D2D2D2] rounded-sm px-3 py-3 placeholder:text-[#BCBCBC] text-sm focus:ring-2 focus:ring-teal-500 focus:outline-none" />
      </div>
      <div *ngIf="isProprietor()">
        <label class="text-sm font-medium text-gray-700">
          Proprietor Name <span class="text-primary">*</span>
        </label>

        <input type="text" placeholder="Enter Contact Proprietor Name" required
          class="mt-2 w-full border border-[#D2D2D2] rounded-sm px-3 py-3 placeholder:text-[#BCBCBC] text-sm focus:ring-2 focus:ring-teal-500 focus:outline-none" />
      </div>
      <div>
        <label class="text-sm font-medium text-gray-700">
          <span *ngIf="isProprietor()">Proprietor's PAN</span>
          <span *ngIf="isPrivatePublicLimited() || isPartnership()">Company PAN</span>
          <span *ngIf="isTrustSociety()">Trust/Society PAN</span>
          <span class="text-primary">*</span>
        </label>

        <input type="text" [placeholder]="
            isProprietor()
              ? 'Enter Proprietor\'s PAN'
              : isPrivatePublicLimited() || isPartnership()
                ? 'Enter Company\'s PAN'
                : 'Enter Trust/Society\'s PAN'
          " required
          class="mt-2 w-full border border-[#D2D2D2] rounded-sm px-3 py-3 placeholder:text-[#BCBCBC] text-sm focus:ring-2 focus:ring-teal-500 focus:outline-none" />
      </div>
    </div>
  </div>
  <div class="mt-4">
    <h1 class="text-xl font-semibold text-primary">Upload Documents</h1>
    <hr class="border-[#D2D2D2] my-4" />
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-5">
      <div>
        <label class="text-sm text-[#050914]">
          Upload Logo <span class="text-primary">*</span>
        </label>
        <div class="mt-2 border border-gray-200 rounded-lg h-32 flex items-center justify-center bg-white">
          <img *ngIf="previewUrl" [src]="previewUrl" class="h-full object-contain rounded-md" />
          <div *ngIf="!previewUrl" class="text-gray-400 text-3xl">
            <img src="assets/icons/upload.svg" alt="" />
          </div>
        </div>
        <button type="button" (click)="fileInput.click()"
          class="w-full mt-3 bg-[#E5E5E5] text-[#006842] cursor-pointer hover:bg-gray-300 text-sm p-2 rounded-md font-medium">
          Upload File
        </button>
        <input #fileInput type="file" accept="image/*" class="hidden" (change)="onFileSelected($event)" />
      </div>
      <div>
        <label class="text-sm text-[#050914]">
          Upload Proprietor's PAN <span class="text-primary">*</span>
        </label>
        <div class="mt-2 border border-gray-200 rounded-lg h-32 flex items-center justify-center bg-white">
          <img *ngIf="previewUrl" [src]="previewUrl" class="h-full object-contain rounded-md" />
          <div *ngIf="!previewUrl" class="text-gray-400 text-3xl">
            <img src="assets/icons/upload.svg" alt="" />
          </div>
        </div>
        <button type="button" (click)="fileInput.click()"
          class="w-full mt-3 bg-[#E5E5E5] text-[#006842] cursor-pointer hover:bg-gray-300 text-sm p-2 rounded-md font-medium">
          Upload File
        </button>
        <input #fileInput type="file" accept="image/*" class="hidden" (change)="onFileSelected($event)" />
      </div>
      <div>
        <label class="text-sm text-[#050914]">
          Aadhaar/DL/Passport <span class="text-primary">*</span>
        </label>
        <div class="mt-2 border border-gray-200 rounded-lg h-32 flex items-center justify-center bg-white">
          <img *ngIf="previewUrl" [src]="previewUrl" class="h-full object-contain rounded-md" />
          <div *ngIf="!previewUrl" class="text-gray-400 text-3xl">
            <img src="assets/icons/upload.svg" alt="" />
          </div>
        </div>
        <button type="button" (click)="fileInput.click()"
          class="w-full mt-3 bg-[#E5E5E5] text-[#006842] cursor-pointer hover:bg-gray-300 text-sm p-2 rounded-md font-medium">
          Upload File
        </button>
        <input #fileInput type="file" accept="image/*" class="hidden" (change)="onFileSelected($event)" />
      </div>
      <div>
        <label class="text-sm text-[#050914]"> GSTIN Certificate </label>
        <div class="mt-2 border border-gray-200 rounded-lg h-32 flex items-center justify-center bg-white">
          <img *ngIf="previewUrl" [src]="previewUrl" class="h-full object-contain rounded-md" />
          <div *ngIf="!previewUrl" class="text-gray-400 text-3xl">
            <img src="assets/icons/upload.svg" alt="" />
          </div>
        </div>
        <button type="button" (click)="fileInput.click()"
          class="w-full mt-3 bg-[#E5E5E5] text-[#006842] cursor-pointer hover:bg-gray-300 text-sm p-2 rounded-md font-medium">
          Upload File
        </button>
        <input #fileInput type="file" accept="image/*" class="hidden" (change)="onFileSelected($event)" />
      </div>
    </div>

    <div class="mt-2 flex items-start gap-2">
      <input type="checkbox" name="" id="" class="mt-1 shrink-0" />
      <p class="text-sm text-[#050914]">
        By Submiting, you agree to our
        <a href="" class="text-primary hover:underline"> Terms of Service </a>
        and
        <a href="" class="text-primary hover:underline"> Privacy Policy. </a>
      </p>
    </div>
    <button
      class="bg-[#006842] text-white hover:bg-secondary hover:text-primary font-medium w-full md:w-1/2 cursor-pointer rounded-md p-2 mt-6">
      Submit
    </button>
  </div>
</section>