.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;  /* Full screen height */
}

app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #fff;
}

.app-content {
  flex: 1;
  width: 100%;
   padding: 0;
  display: block;
  margin-top: 64px;
}